defusedxml==0.4.1
Django==1.8
django-admin-shortcuts==1.2.6
django-allauth==0.24.1
django-bootstrap3==6.2.2
django-comments-xtd==1.5.1
django-contrib-comments==1.6.2
django-debug-toolbar==1.4
django-embed-video==1.1.0
django-extensions==1.6.1
django-filter==0.12.0
django-flat-theme==1.1.3
django-grappelli==2.7.3
django-haystack==2.4.1
django-jsonify==0.3.0
django-material==0.5.1
django-rest==0.0.1
django-taggit==0.18.0
django-threadedcomments==1.0.1
djangorestframework==3.3.2
djmail==0.12.0.post1
grappelli-side-menu==0.1.3
Markdown==2.6.5
oauthlib==1.0.3
Pillow==3.1.0
python3-openid==3.0.9
pytz==2015.7
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.1.18
wheel==0.24.0
