<div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">¿Que es tv libre?</h1>
    <p style="margin-top: 40px;">
        <strong>TvLibre</strong> es una plataforma que se propone como alternativa a los servicios cable que estan en mano de empresas privadas y
        generalmente deciden que contenido mostrar a fines de sus intereses economicos.
    </p>
    <p style="margin-top: 50px;">
        Los usuarios van a tener una pantalla para poder navegar entre programas y episodios facilmente,
        <br/>
        Y una pantalla de busqueda donde tiene la posibilidad de buscar por todos los episodios, filtrando por categoria, programa etc.
        <br/>
        Los canales van a tener asignado un numero y se van a construir por categoria, por distrito(ciudad, provincia, pais) [en el caso de los programas de noticia]
        Va a tener una lista de programas que se van a repetir el mismo dia y misma hora, donde se reproduce siempre el ultimo episodio (del programa)
        La lista de programas va a cambiar 1 vez al mes, siempre dando la posibilidad que ingresen programas. Y asi, cada canal (que se divide por categoria,
        y en algunos casos distrito) va a tener todos los meses programas diferentes.
        Los programas tienen restrinciones (ej: contenido para mayores de 18años), las cuales definen la franja horaria en la que se puede poner el programa.
        <br/>
        Los usuarios que ven los canales, durante cada episodio que se va reproduciendo, tienen la posibilidad de compartirlo en redes sociales, tienen la posibilidad de agregar el programa a favoritos y la posibilidad de comentar el programa.
        <br/>
        Cuando un usuario agrega un programa a favoritos, se le notifica cada vez que el programa agrega un episodio nuevo.
        <br/>
        Los episodio deben tener un sistema de calificacion con el fin que el usuario haga el trabajo de filtrar contenido, como por ejemplo conido abusivo.
        Una vez que un episodio llega a tener X cantidad de calificacion negativa. Tv Libre contrae el derecho de poder borrar el episodio
        <br/>
        El usuario que va a tener acceso al panel de administracion para gestionar sus programas y episodio, la cuenta de email es requerida validarla, para poder tener un contacto en caso de que se necesite.
        <br/>
        El usuario que solo usa la plataforma para ver los episodios, va a poder ser anonimo, para registrarse necesita nombre de usuario y contraseña, en caso de que quiera recibir notificaciones de los programas que tiene en favorios al email validar el email es un paso requerido.
    </p>

</div>

