{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <base href="/" />
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bower_components/angular-blurred-modal/st-blurred-dialog.css' %}"/>
{% endblock %}

{% block menu %}
    <a ui-sref="programs" class="list-group-item text-center" ng-class="{active: ('programs' | includedByState)}">
        <h4 class="glyphicon glyphicon-home"></h4><br/>Inicio
    </a>
    <a ui-sref="search" class="list-group-item text-center" ng-class="{active: ('search' | includedByState)}">
        <h4 class="glyphicon glyphicon-search"></h4><br/>Buscar
    </a>
    <a ui-sref="nosotros" class="list-group-item text-center" ng-class="{active: ('nosotros' | includedByState)}">
        <h4 class="glyphicon glyphicon-info-sign"></h4><br/>¿TvLibre?
    </a>


    {% if not request.user.is_authenticated %}
        <a target="_self" href="{% url 'account_login' %}?next=/favoritos/" class="list-group-item text-center" >
            <h4 class="glyphicon glyphicon-heart"></h4><br/>Favoritos
        </a>
        <a target="_self" href="{% url 'account_login' %}" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-log-in"></h4><br/>Entra
        </a>
    {% else %}
        <a ui-sref="favorites" class="list-group-item text-center" ng-class="{active: ('favorites' | includedByState)}">
            <h4 class="glyphicon glyphicon-heart"></h4><br/>Favoritos

        </a>
        <a target="_self" href="{% url 'account_logout' %}" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-log-in"></h4><br/>Salir
        </a>
    {% endif %}
{% endblock %}
{% block body %}
    <!-- CONTENIDO -->

    <div class="container-spinner">
        <div class="custom-spinner">
            <i class="fa fa-refresh fa-spin fa-2x"></i>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% verbatim %}
            <div class="btn-group" style="position: absolute; top: 15px; right: 5px; z-index: 1000;" ng-show="true">
                <button type="button" id="btn-notification" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell"></i> <span class="n_notification">{{ vm.notifications.length }}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="min-width: 100px;">
                    <li ng-repeat="notification in vm.notifications"><a href="#{{ notification.obj.parent_slug }}" title="{{ notification.message }}">{{ notification.message|limitTo:60 }}...</a></li>
                    <li ng-if="vm.notifications.length == 0">No tienes notificaciones nuevas</li>
                    <li class="divider" role="separator"></li>
                    <li style="text-align: center;"><a ui-sref="notifications"><em style="color: #005888;">Ver todas</em></a></li>
                </ul>
            </div>
            {% endverbatim %}
    <div st-blurred-dialog-region>
        <h1>Hello World</h1>
        <p>The body of your page goes here</p>
    </div>
    <st-blurred-dialog-overlay></st-blurred-dialog-overlay>

{% endblock %}
{% block extra_js %}
    <!-- angular resources -->
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-blurred-modal/st-blurred-dialog.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <!-- LOAD PROMISE -->
    <script type="text/javascript" src="{% static 'bower_components/angular-busy/dist/angular-busy.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/angularjs-socialshare/dist/angular-socialshare.min.js' %}"></script>

    {% load jsonify %}
    <script>

        angular
                .module('authentication', [])
                .factory('Authentication', Authentication);

        Authentication.$inject = [];

        function Authentication(){
            // Print user data with django
            var user = {{ user_data|jsonify }};

            var Authentication = {
                setProfile: setProfile,
                profile: getProfile,
                unauthenticate: unauthenticate,
                is_authenticated: is_authenticated

            };

            function getProfile(){
                return user.profile;
            }

            function setProfile(profile){
                user.profile = profile;
            }

            function unauthenticate(){
                delete user;
            }

            function is_authenticated(){
                if(user && user.username){
                    return true;
                }else{
                    return false;
                }
            }

            return Authentication
        }
    </script>

    <!-- ###################### TV APP ###################### -->
    <script type="text/javascript" src="{% static 'tvapp/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/app.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/app.routes.js' %}"></script>

    <!-- ###################### TV APP - MODULE LAYOUT ###################### -->
    <script type="text/javascript" src="{% static 'tvapp/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/layout/controllers/layout.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/layout/controllers/sidebar.controller.js' %}"></script>
    <!-- ###################### END TV APP - MODULE LAYOUT ###################### -->

    <!-- ###################### TV APP - MODULE UTIL ###################### -->
    <script type="text/javascript" src="{% static 'tvapp/util/util.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/util/directives/alert-notification.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/util/directives/scroll-end.directive.js' %}"></script>
    <!-- ###################### TV APP - MODULE UTIL ###################### -->

    <!-- ###################### TV APP - MODULE PROGRAM ###################### -->
    <script type="text/javascript" src="{% static 'tvapp/program/program.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/program/services/program.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/program/services/episode.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/program/services/category.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/program/controllers/program.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/program/controllers/search.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/program/controllers/episode.dialog.controller.js' %}"></script>
    <!-- ###################### END TV APP - MODULE PROGRAM ###################### -->

    <!-- ###################### TV APP - MODULE COMMENT ###################### -->
    <script type="text/javascript" src="{% static 'tvapp/comment/services/comment.service.js' %}"></script>
    <!-- ###################### TV APP - MODULE COMMENT ###################### -->

    <!-- ###################### TV APP - MODULE FAVORITE ###################### -->
    <script type="text/javascript" src="{% static 'tvapp/favorite/favorite.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/favorite/services/favorite.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/favorite/controllers/favorite.controller.js' %}"></script>
    <!-- ###################### TV APP - MODULE FAVORITE ###################### -->

    <!-- ###################### TV APP - MODULE FAVORITE ###################### -->
    <script type="text/javascript" src="{% static 'tvapp/notification/notification.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/notification/services/notification.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'tvapp/notification/controllers/notification.controller.js' %}"></script>
    <!-- ###################### TV APP - MODULE FAVORITE ###################### -->
{% endblock %}