<style>
    body {
        padding-top: 50px;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }
    .input-group-btn .btn-group {
        display: flex !important;
    }
    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        #adv-search {
            width: 500px;
            margin: 0 auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
    }
</style>

    <div class="col-md-12" style="min-width: 100%;  height: 60px; padding-top: 8px; background-color: #5A55A3; z-index: 5; box-shadow: 0px 1px 6px .5px rgba(0, 0, 0, 0.5);">
        <div class="input-group" id="adv-search">
            <input type="text" ng-model="vm.query.q" class="form-control input-lg" placeholder="Buscar entre todos los videos" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form">
                                <h4 class="text-center">Filtrar por</h4>
                                <div class="form-group">
                                    <label for="filter">Categoria</label>
                                    <select class="form-control" ng-model="vm.query.category">
                                        <option value="0" selected>All Snippets</option>
                                        <option value="{{ category.slug }}" ng-repeat="category in vm.categories">{{ category.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="filter">Programa</label>
                                    <select class="form-control" ng-model="vm.query.program__slug">
                                        <option ng-repeat="program in vm.programs" value="{{ ::program.slug }}" selected>{{ ::program.title }}</option>
                                    </select>
                                </div>
                                <button type="submit" ng-click="vm.search()" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                    <button type="button" ng-click="vm.search()" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12" style="height: 85%; max-height: 85%; overflow-x: hidden; overflow-y: auto; padding-top: 40px;" when-scroll-ends="vm.loadMore()" >
        <div class="col-md-12">
            <p>Cantidad de resultados <strong>{{ vm.episodes.length }}</strong></p>
        </div>
        <div class="row" >
            <div class="col-sm-6 col-md-3 search-item-episode" style="display: inline-table; float: none;" ng-repeat="episode in vm.episodes track by episode.id">
                <div class="thumbnail">
                    <img src="{{ episode.thumbnail_300x300 }}" alt="{{ episode.title }}">
                    <span style="position: absolute; top: 0px; right: 0px; background-color: #0077aa; color: #ffffff; padding: 3px;">{{ episode.category.name }}</span>
                    <div class="caption">
                        <h4 class="text-center">{{ episode.title }}</h4>
                        <p>{{ episode.short_description }}</p>
                        <p ng-click="vm.openEpisode(episode)">
                            <a href="#{{ episode.slug }}"   class="btn btn-block btn-primary" role="button">Ver</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
